h1 {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-weight: bold;
    text-align: center;
}

.sub {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-weight: bold;
    text-align: left;
}

li {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: left;
}

img {
    height: auto;
    width: 900px;
}