.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1 {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-weight: bold;
    text-align: center;
}

.sub {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-weight: bold;
    text-align: left;
}

li {
    font-family: "Roboto", sans-serif;
    text-align: left;
}

img {
    height: auto;
    width: 900px;
}