h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.sub {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: left;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

img {
    height: auto;
    width: 900px;
}